{
  "root": true,
  "extends": "standard",
  "plugins": [
    "html",
    "vue"
  ],
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "Vue": false
  },
  "rules": {
    "max-len": [
      1,
      {
        "code": 120,
        "tabWidth": 2,
        "ignoreComments": true,
        "ignoreTrailingComments": true,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ]
  }
}
