.su-badge-primary {
  background: $COLOR_PRIMARY;
}
.su-badge-secondary {
  background: $COLOR_SECONDARY;
}
.su-badge-success {
  background: $COLOR_SUCCESS;
}
.su-badge-warning {
  background: $COLOR_WARNING;
}
.su-badge-danger {
  background: $COLOR_DANGER;
}