.su-box-shadow-1 {
  box-shadow: $boxShadowLevel1;
}

.su-box-shadow-2 {
  box-shadow: $boxShadowLevel2;
}

.su-box-shadow-3 {
  box-shadow: $boxShadowLevel3;
}

.su-box-shadow-4 {
  box-shadow: $boxShadowLevel4;
}

.su-box-shadow-5 {
  box-shadow: $boxShadowLevel5;
}
