@import "./mixins/shadow.pcss";

.su-box-shadow-1 {
  @mixin shadow1;
}

.su-box-shadow-2 {
  @mixin shadow2;
}

.su-box-shadow-3 {
  @mixin shadow3;
}

.su-box-shadow-4 {
  @mixin shadow4;
}

.su-box-shadow-5 {
  @mixin shadow5;
}
